/.DS_Store
/Lesson 10_ Aside - Anchor Tags
/Lesson 11_ Add an Anchor Tag to Google.com
/Lesson 12_ Proper document structure
/Lesson 13_ Aside: Lists
/Lesson 15_ Deploy your Personal Website
/Lesson 2_ HTML Tags
/Lesson 3_ Write a news article
/Lesson 4_ The Image Tag
/Lesson 5_ Nesting
/Lesson 6_ Internet super powers 
/Lesson 7_ Interactive elements - Button
/Lesson 8_ Interactive elements - input tags -- Experiment with input types 100%
/Lesson 9_ Let's build Google!